body{
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
h1{
 font-size: 100px;
 background-color: white;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
}
nav a{
    color: black;
    font-size: 40px;
    display: flex;
    text-align: right;
    justify-content: right;
}
.content{
    margin-top: 30px;
    display: flex;
    gap:15px;
    font-size: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.multimedia ,.tabelas , .formulario {
    background-color: pink;
    padding: 10px;
    border-radius: 8px;
}
.multimedia a{
    text-decoration: none;
    color: darkblue;
}

.multimedia a:hover{
    border-bottom: 2px dashed darkblue;
}
.tabelas a{
    text-decoration: none;
     color: darkblue;
}
.tabelas a:hover{
    border-bottom: 2px dashed darkblue;
}
.formulario a{
    text-decoration: none;
     color: darkblue;
}
.formulario a:hover{
    border-bottom: 2px dashed darkblue;
}
